<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VerifyIosSdk_Example_PushEnabled.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AEC2C0A1BC4201C001114D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AEC2C1E1BC4201D001114D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AEC2C291BC4201D001114D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
